<div ng-controller="MapCtrl">

  <header class="banner" role="banner">

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="site-title">
            <a class="brand" href="http://www.instagrannar.se/">Instagrannar</a>
          </div>
        </div>
      </div>
    </div>

    <google-map center="map.center" draggable="true" zoom="map.zoom" options="map.options" events="map.events">
      <circle center="map.center" radius="zoom.radius(viewport.zoomLevel)" visible="true" stroke="map.circleStroke"> </circle>
    </google-map>

  </header>

</div>
