<article class="post type-post status-publish format-standard hentry category-graphic category-motion category-photography category-typography isotope-item col-xs-12 col-sm-4 col-md-3" style="z-index: 1;">
  <div class="entry-inner" style="z-index: 1;">
    <div class="entry-thumbnail" style="z-index: 1;">
      <a href="#" style="z-index: 1;">
        <img width="570" height="570" data-ng-src="{{instagram.images.standard_resolution.url}}" class="attachment-full wp-post-image" alt="{{instagram.caption.text}}" style="z-index: 1;" />
      </a>
    </div>
    <header class="entry-header" style="z-index: 1;">
      <h2 class="entry-title" style="z-index: 1;">
        <a data-ng-click="toggleModal()" style="z-index: 1;">
          by @{{instagram.user.username}}
        </a>
      </h2>
    </header>
  </div>
  <div class="photo-modal" data-ng-show="modal">
    <h1>
      {{instagram.caption.text}}
    </h1>
    <h2>
      Posted by @{{instagram.user.username}} about {{t(instagram.created_time)}}
    </h2>
    <div>
      <img data-ng-src="{{instagram.images.standard_resolution.url}}" alt="{{instagram.caption.text}}"/>
    </div>
    <p>
      <a data-ng-click="toggleModal()">St&auml;ng</a>
    </p>
    <!-- here for future reference
    <p>
      {{instagram}}
    </p>
    -->
  </div>
</article>
