<blockquote data-ng-hide="!!grams.data">
  <p>
    Se vad som händer runtom dig! Använd kartan för att hitta de senaste bilderna på Instagram från just den platsen.
  </p>
</blockquote>

<blockquote data-ng-show="!!grams.data && grams.data.length === 0">
  <p>
    Hittade inga bilder! Prova att zooma ut eller flytta kartan till ett annat område.
  </p>
</blockquote>

<blockquote data-ng-show="!!grams.data && grams.data.length === 1">
  <p>
    Hittade en bild!<!-- postad {{grams.data[0].created_time}}-->
  </p>
</blockquote>

<blockquote data-ng-show="!!grams.data && grams.data.length > 1">
  <p>
    Hittade {{grams.data.length}} bilder! <!--Den senaste skapades {{t(grams.data[0].created_time)}}-->
  </p>
</blockquote>

<div class="row">
  <div class="isotope" style="position: relative;">
    <div ng-repeat="gram in grams.data">
      <photo instagram="gram"></photo>
    </div>
  </div>
</div>
