
  <div class="wrap" role="document">
    <div class="container">
      <div class="content">
        
        <main class="main" role="main">

          <google-places location=location></google-places>

          <div data-ng-show="displayGrid" ng-controller="PhotoGridCtrl" ng-include src="'partial/photoGrid/photoGrid.html'"></div>
          <div data-ng-hide="displayGrid" ng-controller="PhotoViewCtrl" ng-include src="'partial/photoView/photoView.html'"></div>
          
        </main>

        <div class="overlay"></div>
        <div ng-controller="SideBarCtrl" ng-include src="'partial/sideBar/sideBar.html'"></div>
        
      </div>
    </div>
  </div>