div[ng-controller="ControlPanelCtrl"] {

  div.controlpanel-content {

    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0px;
    width: 300px;

    border-right: 1px #000000 solid;

  }

  div.authentication {
    border-right-width: 1px;
  }

  .angular-google-map-container {
    height: 200px;
  }

}