<div ng-controller="ControlPanelCtrl">

  <div class="controlpanel-content">

    <div class="authentication">
      <p>
        User authorization
      </p>

      <input type="text" /><br />
      <input type="password" />

    </div>

    <div class="area">

      <p>
        Area
      </p>
             <!--
      <google-map center="map.center" draggable="true" zoom="map.zoom" options="mapOptions" events="map.events">
        <script type="text/ng-template" id="control.tpl.html">
          <button data-ng-click="load(map.zoom)">Load</button>
        </script>
        <map-control template='control.tpl.html' position="bottom-center" controller="PictureLoaderCtrl"></map-control>
        <circle center="map.center" radius="place.dst" visible="true" stroke="circleStroke"> </circle>
      </google-map>
                 -->
      <br><br>
      Radius: {{place.dst}} m

    </div>

  </div>

</div>
